body {
  margin: 20px;
  justify-content: center;
  display: grid;
  font-family: Lato, arial, sans-serif;
}

body h1, body h2, body h3{
  text-align: center;
}

body h1{
  color: #000;
  /* background-color: #000; */
  /* font-size:20px; */
  line-height: 1;
  padding: 8px 16px;
}

body #instructions, body #about{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

body #instructions ol{
  margin-top: 0;
}

body #card_url, body #short_url{
  margin: auto;
}

body button, body .warning, body .preview{
  text-transform: uppercase;
  border-radius: 48px;
  font-size: 16px;
  padding: 8px 16px;
  width: auto;
  margin: auto;
}

body .warning{
  background: #ae8d76!important;
  color: #000;
}

body .preview{
  color: #fff;
}

body .modal article section.content{
  padding: .6em .8em;
}

#home-image{
  background-image:  url("../Santa_Soaked_Promo.gif");
  background-size: contain;
  height: 450px;
  background-repeat: no-repeat;
  background-position: center;
}

#create {
  /* width: 50vw; */
  max-width: 600px;
  margin-left:auto;
  margin-right: auto;
}

#create h2{
  padding-bottom: 0;
}

#create h3{
  padding-top: 0;
}

#create #message, #create #recipient, #create #sender, #create #select_ic{
  margin-bottom: 24px;
  border: none;
  border-radius: 0;
  background-color: rgb(241, 241, 241);
}

#create #icon_menu{
  border: none;
  border-radius: 0;
  background-color: rgb(241, 241, 241);
}
#create #image_url{
  display: none;
  height: 0;
  padding: 0;
}

#card_container {
  /* border: 2px solid black; */
  width: 90vw;
  min-height: 50vh;
  margin-top: 5px;
  padding: 7px;
  /* font-weight: bold; */
  font-size: 120%;
  color: #000;
  /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */

}

#card_container #preview{
  center{
    display: flex;
    flex-flow: column-reverse;
  }
}
#card_container #view_card{
  /* background-color: rgb(241, 241, 241); */
  padding: 25px;
}

#card_container #view_card a{
  display: flex;
  flex-flow: column-reverse;
  &:hover{
    cursor: pointer;
  }
}

#card_container img{
  width: 100%;
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  border-top: 1px solid rgb(226, 226, 226);;
  margin: 15px 0 15px 0;
}

footer a{
  margin-top: 24px;
  margin-bottom: 24px;
  color: rgb(143, 112, 90);
  text-decoration: underline;
}

button {
  display: block;
}
#preview_container, #view_card{
  justify-content: center;
  display: grid;
  /* #card_container{
    max-width: 450px;
    max-height: 540px;
    width: 100%;
  } */
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  #card_container {
    width: auto;
    min-height: 80vh;
    font-size: 2vw;
  }
  #card_image {
    margin: 25px;
    width: 20vw;
  }
  button {
    display: inline;
  }
}
