body {
  margin: 20px;
  justify-content: center;
  display: grid;
  font-family: Lato, arial, sans-serif;
  h1, h2{
    text-align: center;
  }
  h1{
    color: #000;
    /* background-color: #000; */
    /* font-size:20px; */
    line-height: 1;
    padding: 8px 16px;
  }
  /* h2{
    color: #fff;
    background-color: #000;
  } */
  #card_url{
    margin: auto;
  }
  button, .warning, .preview{
    text-transform: uppercase;
    border-radius: 48px;
    font-size: 16px;
    padding: 8px 16px;
    width: 78px;
    margin: auto;
  }
  .warning{
    background: #ae8d76!important;
    color: #000;
  }
  .preview{
    color: #fff;
  }
}
#create {
  width: 50vw;
  max-width: 600px;
  margin-left:auto;
  margin-right: auto;
  #message, #recipient, #sender, #select_ic{
    margin-bottom: 24px;
    border: none;
    border-radius: 0;
    background-color: rgb(241, 241, 241);
  }
  #icon_menu{
    border: none;
    border-radius: 0;
    background-color: rgb(241, 241, 241);
  }
  #image_url{
    display: none;
    height: 0;
    padding: 0;
  }
}
/* #card_image { */
  /* margin: 25px;
  width: 40vw; */
/* } */
#card_container {
  /* border: 2px solid black; */
  width: 90vw;
  min-height: 50vh;
  margin-top: 5px;
  padding: 7px;
  /* font-weight: bold; */
  font-size: 120%;
  color: #000;
  /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
  img{
    width: 100%;
    margin: 0;
  }
  #preview{
    center{
      display: flex;
      flex-flow: column-reverse;
    }
  }
  #view_card{
    /* background-color: rgb(241, 241, 241); */
    padding: 25px;
    a{
      display: flex;
      flex-flow: column-reverse;
      &:hover{
        cursor: pointer;
      }
    }
  }

}
footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  border-top: 1px solid rgb(226, 226, 226);;
  margin: 15px 0 15px 0;
  a{
    margin-top: 24px;
    margin-bottom: 24px;
    color: rgb(143, 112, 90);
    text-decoration: underline;
  }
}
button {
  display: block;
}
#preview_container, #view_card{
  justify-content: center;
  display: grid;
  /* #card_container{
    max-width: 450px;
    max-height: 540px;
    width: 100%;
  } */
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
  #card_container {
    width: auto;
    min-height: 80vh;
    font-size: 2vw;
  }
  #card_image {
    margin: 25px;
    width: 20vw;
  }
  button {
    display: inline;
  }
}
